/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); */

/* * {
    margin: 0;
    padding: 0;
} */

/* .alien-img{ 
    position: relative;
} */
body {
    background: url('T3dRGzn.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: grey;
}


.alien-egg-img {
    position: relative;
    width: 00px;
    height: 00px;
    
    left: 720px;
    top: 175px;
    visibility: hidden;
    
}   

.alien-burster-img{
    position: relative;
    width: 00px;
    height: 00px;
    left: 720px;
    top: 125px;
    
    visibility: hidden;
}

.alien-queen-img {
    position: relative;
    width: 00px;
    height: 00px;
    left: 720px;
    top: 78px;
    visibility: hidden;
    
}   

.alien-death-img {
    position: relative;
    width: 00px;
    height: 00px;
    left: 720px;
    top: 25px;
    visibility: visible;
    
}   



img {
    align-self: center;
    width: 250px;
    height: 250px;
    display: block;
    margin: 50px auto;
    border-radius: 45%;
    /* display: none; */
}

h1, h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
}

h3 {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.hide {
    display: none;
} 

.menu {
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

/*Settings Screen*/
.settings{
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.settings-buttons a {
display: inline-block;
font-size: 30px;
background-color: whitesmoke;
border: 2px solid #131212;
padding: 5px 10px;
margin: 20px 20px 0px 20px;
transition: background-color .1s, color .1s;
text-decoration:underline;
font-weight: 500;
font-family: Arial, Helvetica, sans-serif;
}

.settings-buttons a:hover {
background-color: #131212;
color: #fafafa;
}

.settings-buttons {
    width: 100%;
    text-align: center;
}

/* GAME SCREEN*/
.tamagatchi {
    position: absolute;
    display: block;
    width: 100%;
    top: 50vh;
    transform: translateY(-50%);
    font-size: 50px;
    text-align: center;
}

#t-body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 70px;
}

#name {
    display: inline-block;
    margin-bottom: 50px;
    color: #fff;
    padding: 5px 10px;
    font-size: 30px;
    background-color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.buttons a, .menu-buttons a {
    display: inline-block;
    font-size: 30px;
    background-color: whitesmoke;
    border: 2px solid #141414;
    padding: 5px 10px;
    margin: 75px 20px 0px 20px;
    transition: background-color .1s;
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-family:Arial, Helvetica, sans-serif;
    transition: background-color .1s, color .1s;
    border-radius: 10px;
}

.buttons a:hover, .menu-buttons a:hover {
    background-color: black;
    color: whitesmoke;
}

.buttons, .menu-buttons {
    width: 100%;
    text-align: center;
}

.hp {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 30px;
    width: 100%;
    /* text-align:center; */
    bottom: 10px;
    position:fixed;
    top: 30vh;
    color: white;
}

.hp p {
    display: inline;
}

/* @media (max-width: 860px) {
    .hp {
        font-size: 20px;
    }
    .buttons a, .menu-buttons a, .settings-buttons a {
        font-size: 30px;
    }
    #name {
        font-size: 20px;
    }
    #t-body {
        font-size: 50px;
    }
} */

/* @media (max-width: 540px) {
    .hp p {
        font-size: 20px;
        display: block;
    }
    .buttons a, .menu-buttons a, .settings-buttons a {
        font-size: 20px;
        margin: 20px 5px 0px 5px;
    }
    #name {
        font-size: 20px;
    }
    #t-body {
        font-size: 40px;
    }
} */
/* 
@media (max-width: 540px) {
    .hp p {
        font-size: 20px;
        display: block;
    }
    .buttons a, .menu-buttons a, .settings-buttons a {
        font-size: 20px;
        margin: 20px 2px 0px 2px;
    }
    #name {
        font-size: 20px;
    }
    #t-body {
        font-size: 30px;
    }
    .tamagatchi {
        top: 120px;
        transform: translateY(0);
    }
} */

