@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/*.hide {
    display: none;
} */

.menu {
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

/*Settings Screen*/
.settings{
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.settings-buttons a {
display: inline-block;
font-size: 30px;
background-color: transparent;
border: 2px solid #131212;
padding: 5px 10px;
margin: 20px 20px 0px 20px;
transition: background-color .1s, color .1s;
text-decoration:underline;
font-weight: 500;
font-family: 'Roboto', sans-serif;
}

.settings-buttons a:hover {
background-color: #131212;
color: #fafafa;
}

.settings-buttons {
    width: 100%;
    text-align: center;
}